/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(./fonts/poppins/poppins.css);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #fff;

$mainColor: #333;
$headingColor: #4777c0;

$mainFontSize: 42px;
$mainFont: 'Poppins',
Helvetica,
sans-serif;
$headingFont: 'Poppins',
Helvetica,
sans-serif;
$headingLetterSpacing: normal;
$headingFontWeight: 500;
$linkColor: #4777c0;
$linkColorHover: #4777c0;
$selectionBackgroundColor: #00c7fd;
$lightblueBackgroundColor: rgb(245, 250, 254);
$heading1Size: 1.6em;
$heading2Size: 1.4em;
$heading3Size: 1.2em;
$heading4Size: 1.0em;

// Change text colors against dark slide backgrounds
@include dark-bg-text-color(#fff);


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------